@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AlexBrush";
  src: url("/assets/AlexBrush-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.alex-brush {
  font-family: "AlexBrush", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
