.nav-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgb(23, 204, 224);
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 1.5rem;
}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    color: white;
}

.menu-item:hover::before {
    content: " ";
    width: 2rem;
    height: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.contact-btn {
    font-size: 0.9rem;
    height: 2.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    cursor: pointer;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    color: #a993fe;
    background: black;
    outline: 1.5px solid #a993fe;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 3500px) {
    .nav-links {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu summary {
        cursor: pointer;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu summary::-webkit-details-marker {
        display: none;
    }

    .hamburger-menu summary::marker {
        display: none;
    }

    .hamburger-menu ul {
        list-style: none;
        padding: 0;
    }

    .hamburger-menu li {
        margin: 0.5rem 0;
    }
}

@media screen and (max-width: 425px) {
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu ul {
        flex-direction: column;
    }
}
